html, body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

svg {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.valid {
    opacity: 0.3;
}

.axis .domain {
	display: none;
}	

.bottom .tick text {
    -moz-transform: matrix(1, 0, 0, -1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
    -o-transform:matrix(1, 0, 0, -1, 0, 0);
	transform:matrix(1, 0, 0, -1, 0, 0);

}

.right .tick text {
    -moz-transform: matrix(1, 0, 0, -1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
    -o-transform:matrix(1, 0, 0, -1, 0, 0);
	transform:matrix(1, 0, 0, -1, 0, 0);

}
